#text{
     margin-top: 1%;
     font-size: large;

 }

#text2{
    margin-top: 0.5%;
    font-size: large;
}

#text3{
    margin-top: 0.5%;
    font-size: large;
}

#text4{
    margin-top: 0.5%;
    font-size: large;
}

#table{
    width: 50%;
}

#title{
    text-align: center;
}

#mainsitebutton{
    margin-left: 46%;
    margin-top: 1%;
}

#dropdown
{
    margin-left: 43%;
    margin-top: 1%;
}